<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <style>
    form { max-width: 300px; margin: 50px auto; }
    div { margin-bottom: 10px; }
    label { display: block; }
    input { width: 100%; padding: 8px; }
    .button { padding: 8px 12px;}
    #message { text-align: center; margin-top: 20px; }

    .message{
      color: red;
      border-style: dotted;
      text-align: center;
    }
  </style>

</head>
<body>
  <h2 style="text-align: center;">Login</h2>
  <form id="loginForm" method="post" action="/login_">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button id="submit" class="button">Login</button><br><br>
    <a href="/register" class="">No account?</a>
  </form>
  {% if detail %}
    <p class="message"><strong> {{ detail }} </strong></p>
  {% endif %}
</body>
</html>