<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <style>
        .form { max-width: 300px; margin: 50px auto; }
        div { margin-bottom: 10px; }
        label { display: block; }
        input { width: 100%; padding: 8px; }
        button { padding: 8px 12px; }
        #message { text-align: center; margin-top: 20px; }
        .message{
          color: red;
          border-style: dotted;
          text-align: center;
          border-width: 10px;
        }
    </style>

</head>
<body>
    <form class="form" method="post" action="/create_user">
            <label for="username">Username</label><br>
            <input type="text" id="username" name="username" required><br>
            <label for="encrypted_pwd">Password</label><br>
            <input type="password" id="encrypted_pwd" name="encrypted_pwd" required><br>
            <label for="age">Age</label><br>
            <input type="number" id="age" name="age" placeholder="0" value=0 required><br>
            <label for="full_name"> Full Name</label><br>
            <input type="text" id="full_name" name="full_name" placeholder="John Doe" value="John Doe" required><br><br>
            <button id="submit"> Submit </button><br>
    </form>
    {% if detail %}
        <p class="message"><strong> {{ detail }} </strong></p>
    {% endif %}
</body>
</html>
